.input-with-login-icon {
  position: relative;
}

.input-with-login-icon::before {
  content: url('/images/svg/bi_person.svg');
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 27px;
  height: 27px;
}

.input-with-password-icon {
  position: relative;
}

.input-with-password-icon::before {
  content: url('/images/svg/uil_lock.svg');
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 27px;
  height: 24px;
}
