.input-with-login-icon {
  position: relative;
}

.input-with-login-icon::before {
  content: url('/images/svg/login-person.svg');
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}

.input-with-password-icon {
  position: relative;
}

.input-with-password-icon::before {
  content: url('/images/svg/login-person.svg');
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}
